.field
  = f.label 'first name'
  %br
  = f.text_field :first_name 
.field
  = f.label 'last name'
  %br
  = f.text_field :last_name
.field
  = f.label 'email'
  %br
  = f.text_field :email
.field
  = f.label 'phone'
  %br
  = f.text_field :phone