%h1
  Drivers
%table.listing{summary: "Driver List"}
  %tr.header
    %th
      First Name
    %th
      Last Name
    %th
      email
    %th
      phone
    %th
      where to find me
    %th
      actions
  %tr
  -@drivers.each do |d|
    %tr
      %td
        = d.first_name
      %td
        = d.last_name
      %td
        = d.email
      %td
        = d.phone
      %td
        = d.position
      %td.actions
        = link_to("Delete", {:action => 'delete', :id => d.id}, :class => 'action delete')
        = link_to("Edit", {:action => 'edit', :id => d.id}, :class => 'action edit')
        = link_to("Show", {:action => 'show', :id => d.id}, :class => 'action show')

%br
= link_to("Add Driver", {:action => 'new'}, :class => 'action new')