%h1
  Cars
%table.listing{summary: "Cars List"}
  %tr.header
    %th
      make
    %th
      model
    %th
      year
    %th
      id
    %th
      driver_id
  %tr
  -@cars.each do |c|
    %tr
      %td
        = c.make
      %td
        = c.car_model
      %td
        = c.year
      %td
        = c.id
      %td
        = c.driver_id
      %td.actions
        = link_to("Delete", {:action => 'delete', :id => c.id}, :class => 'action delete')

%br
= link_to("New Car", {:action => 'new'}, :class => 'action new')

